.load-message {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}

.load-message > div {
  display: table-cell;
  vertical-align: middle;
}

.load-message p {
  color: #565a5c;
  font-weight: bold;
}

.spinner {
  margin: 0 auto;
}

/***************************************************
  Card Styles
***************************************************/

#cardContainer {
  border: 1px solid #ddd;
  height: 600px;
  overflow-y: scroll;
  width: 520px;
}

#cardContainer .card {
  border-bottom: 1px solid #ddd;
  margin: 15px 15px 2rem;
  padding-bottom: 15px;
}

#cardContainer .card:last-child {
  border-bottom: none;
}

#cardContainer .card-content {
  margin-left: 45px;
  margin-top: 10px;
}

#cardContainer .card-date {
  float: right;
}

#cardContainer .card-content:after,
#cardContainer .card-content:before {
  content: " ";
  display: table;
  clear: both;
}

#cardContainer .card-header > img,
#cardFilters label img {
  width: 35px;
}

#cardContainer .card-header > img {
  float: left;
  margin-right: 10px;
}

#cardContainer .card-header span {
  display: block;
}

#cardContainer .card-header .card-title {
  font-weight: bold;
  font-size: .85rem;
}

#cardContainer .card-header .card-cat {
  font-style: italic;
}



/***************************************************
  Filter Styles
***************************************************/

#cardFilters {
  margin-left: 3rem;
}

#cardFilters label {
  border-radius: 2px;
  cursor: pointer;
  display: block;
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 45px;
  width: 200px;
}

#cardFilters li.selected label,
#cardFilters li:hover label {
  background: #ddd;
}

#cardFilters li:last-child label {
  margin-bottom: 0;
}

#cardFilters ul {
  list-style-type: none;
  padding: 0;
}

#cardFilters li {
  position: relative;
  margin: 10px 0;
}

#cardFilters input {
  display: none;
  margin-top: 0;
}

#cardFilters li label:before {
  background: url('/PublishingImages/icons/megaphone-blue.png') left center no-repeat;
  content: "";
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  position: absolute;
  left: 0;
}

#cardFilters li.disabled {
  opacity: 0.5;
}

#cardFilters li.disabled:hover label {
  background-color: #fff;
  cursor: default;
}



/***************************************************
  Icons
***************************************************/

#cardFilters li.megaphone label:before {
  background-image: url('/PublishingImages/icons/megaphone-blue.png');
}

#cardFilters li.question label:before {
  background-image: url('/PublishingImages/icons/question-blue.png');
}

#cardFilters li.presentation label:before {
  background-image: url('/PublishingImages/icons/presentation-blue.png');
}

#cardFilters li.person label:before {
  background-image: url('/PublishingImages/icons/person-blue.png');
}

#cardFilters li.money label:before {
  background-image: url('/PublishingImages/icons/money-blue.png');
}

#cardFilters li.checklist label:before {
  background-image: url('/PublishingImages/icons/checklist-blue.png');
}

#cardFilters li.hierarchy label:before {
  background-image: url('/PublishingImages/icons/hierarchy-blue.png');
}

#cardFilters li.handshake label:before {
  background-image: url('/PublishingImages/icons/handshake-blue.png');
}

#cardFilters li.certificate label:before {
  background-image: url('/PublishingImages/icons/certificate-blue.png');
}

#cardFilters li.newspaper label:before {
  background-image: url('/PublishingImages/icons/newspaper-blue.png');
}
