.accordion {
  width: 1000px;
  margin: 2rem 0;
}

.accordion-content {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
  padding: 1.25rem;
}

.accordion-header {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #531111 !important;
  font-size: 1rem;
  font-weight: normal !important;
  margin: 0;
  padding: 1rem;
}

.accordion-header:hover {
  background: whitesmoke;
  cursor: pointer;
}

.accordion-header.active {
  background: whitesmoke;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}