*:focus {
  outline: 0;
}

a.button,
.print-accordion {
  background: #000;
  border: 0;
  border-radius: 4px; 
  color: #fff !important;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

a.button:hover,
.print-accordion:hover{
  background: #000;
  color: #cfb87c !important;
  cursor: pointer;
  text-decoration: none;
}

body, 
.ms-core-overlay {
  background-color: #fff;
}

h1,
.ms-core-pageTitle {
  color: #000;
  font-size: 2.77rem;
}

h1,
h1>div,
.ms-core-pageTitle, 
#DeltaPlaceHolderPageTitleInTitleArea {
  font-family: "Segoe UI Light","Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

h2, 
h3, 
.ms-h2, 
.ms-headerFont {
  font-family: MuliRegular, Helvetica, Arial, sans-serif !important;
}

h2,
h3 {
  margin-bottom: 1rem;
}

h2,
h2.ms-rteElemnet-H2,
.ms-rtestate-field h2 {
  color: #565a5c;
  font-weight: bold;
}

h3 {
  color: #bd472a;
  font-weight:bold;
}

h1 {
  color: #000;
  font-size: 2.77rem;
}

section {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

select:focus {
  border: 1px solid #bbb; 
}

ul.no-bullets {
  list-style-type: none;
}

.center {
  text-align: center;
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.gray-background {
  background: #ededed;
}

.hidden {
  display: none;
}

#DeltaPlaceHolderMain a:link,
#breadcrumbContainer a:link,
#breadcrumbContainer a:visited {
  color: #03c;
}

#DeltaPlaceHolderMain a:link,
#DeltaPlaceHolderMain a:visited {
  text-decoration: underline;
}

#DeltaPlaceHolderMain a:visited {
  color: #797979;
}

#DeltaPlaceHolderMain a:hover,
#DeltaPlaceHolderMain a.button:link,
#breadcrumbContainer a:link,
#breadcrumbContainer a:visited,
#DeltaPlaceHolderMain thead a:link,
#DeltaPlaceHolderMain thead a:visited {
  text-decoration: none;
}

#DeltaPlaceHolderMain thead a:link,
#DeltaPlaceHolderMain thead a:visited {
  color: #777;
}



/**********************************************************
    
               Loading Spinner

**********************************************************/

#loadingMessage {
  left: 50%;
  position: absolute;
}

.spinner {
  animation: spin 2s linear infinite;
  border: 8px solid #e1e1e1;
  border-radius: 50%;
  border-top: 8px solid #cfb87c;
  height: 40px;
  margin-left: 18px;
  width: 40px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/**********************************************************
    
               Breadcrumb Styles

**********************************************************/

#breadcrumbContainer {
  display: none;
  margin-left: 6rem; 
  margin-top: 3rem;
}



/**********************************************************
    
               Custom Navigation

**********************************************************/

/******************** Main Nav ********************/

nav {
  margin-left: 80px;
  padding: 1rem;
}

nav .ms-core-listMenu-root>li.static>ul>li {
  font-size: .9rem;
} 

#DeltaTopNavigation li.dynamic-children span.dynamic-children:hover {
  cursor: default;
}

#DeltaTopNavigation .dynamic-children ul.dynamic {
  background-color: #ededed;
  border: 1px solid #ddd;
  box-shadow: none;
  width: 225px !important;
}

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link,
.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected,
#DeltaTopNavigation a:visited {
  color: #000;
}

.ms-core-listMenu-item:hover,
.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover,
#sideNavBox a:hover {
  color: #000;
}

#DeltaTopNavigation .dynamic-children .dynamic {
  list-style-type: none;
}

#DeltaTopNavigation .dynamic-children .dynamic a {
  display: block;
  padding: .85rem;
}

#DeltaTopNavigation .dynamic-children .dynamic a:hover {
  background: #cfb87c;
}

#DeltaTopNavigation .active-nav-item>.ms-core-listMenu-item {
  border-bottom: 2px solid #cfb87c;
}



/******************** Term Store Nav Rules ********************/

#DeltaTopNavigation ul.root {
  margin-left: 6rem;
}

/* Style rules if using structured navigation
#DeltaTopNavigation ul.root>li.static>a {
  display: none;
}

#DeltaTopNavigation ul.root>li.static>ul.static {
  margin-left: 6rem;
}
*/



/******************** Side Nav ********************/

#DeltaPlaceHolderLeftNavBar>div>.ms-core-listMenu-verticalBox {
  display: none;
}

#sideNavBox {
  margin-top: .85rem;
}

#sideNavBox li>a.ms-core-listMenu-item:hover {
  background-color: #cfb87c;
}

#sideNavBox .ms-core-listMenu-root ul.static {
  border-top: 2px solid rgba(210, 210, 210, 0.4);
}



/**********************************************************
    
               Custom SharePoint Overrides

**********************************************************/

input.ms-long {
  width: 100% !important;
}

li.ms-navedit-editArea {
  display: none !important;
}

.ms-basictable .ms-alternating{
  background-color: rgba(210, 210, 210, 0.4);
}

.ms-core-pageTitle {
  margin-bottom: 2rem;
}

.ms-formfieldlabel {
  font-size: 13px !important;
}

.ms-webpart-titleText.ms-webpart-titleText, 
.ms-webpart-titleText>a,
.ms-webpart-titleText>a span,
.ms-webpart-titleText>a:active,
.ms-webpart-titleText>a:hover {
  color: #565A5C;
  font-family: MuliRegular, Helvetica, Arial, sans-serif !important;
  text-decoration: none;
}

.no-table-head thead {
  display: none;
}

.ms-WPBorderBorderOnly {
  border: 0;
}

.tableCol-50 {
  vertical-align: top;
}

#contentBox {
  margin-left: 280px;
  max-width: 1280px;
}

#contentBox li {
  line-height: 1.5rem;
}

#contentBox p,
#contentBox li {
  font-size: .85rem;
}

#contentRow:before, #contentRow:after {
  content: "";
  display: table;
}

#contentRow:after {
  clear: both;
}

#contentRow {
  margin: 2rem;
  padding-top: 0;
}


.ms-promlink-body,
.ms-tileview-tile-titleTextMediumCollapsed {
  font-size: 1em;
}

.ms-promlink-body li,
.ms-tileview-tile-titleTextMediumCollapsed {
  line-height: initial;
}

/******************** Format Text Ribbon Overrides ********************/
/* http://blog.sharepointexperience.com/2014/06/hide-from-sharepoint-ribbon/ */

#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0,
#Ribbon\.EditingTools\.CPEditTab\.Font\.Underline-Small,
#Ribbon\.EditingTools\.CPEditTab\.Font\.Strikethrough-Small,
#Ribbon\.EditingTools\.CPEditTab\.Font\.FontBackgroundColor-Small,
#Ribbon\.EditingTools\.CPEditTab\.Font\.FontColor-Small,
#Ribbon\.EditingTools\.CPEditTab\.Styles\.RibbonStyle1-Large,
#Ribbon\.EditingTools\.CPEditTab\.Styles\.Styles-Thin {
  display: none !important;
}

#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-1 {
  margin-top: 38px !important; 
}



/**********************************************************
    
              Calendar Overlay Colors

**********************************************************/

/**** Default Panel ****/

.ms-acal-apanel>ul>li>ul>li:first-child {
  display: none;
}

.ms-acal-apanel-item,
.ms-acal-item {
  background-color: #cfb87c;
}

.ms-acal-apanel-item span,
.ms-acal-mdiv,
.ms-acal-mdiv a,
.ms-acal-sdiv,
.ms-acal-sdiv a {
  color: #000 !important;
}

/**** Panel 1 ****/
.ms-acal-color1,
.ms-acal-apanel-item.ms-acal-apanel-color1 {
  background-color: #cfb87c;
}

/**** Panel 2 ****/
.ms-acal-color2,
.ms-acal-apanel-item.ms-acal-apanel-color2 {
  background-color: #b288b9;
}

/**** Panel 3 ****/
.ms-acal-color3,
.ms-acal-apanel-item.ms-acal-apanel-color3 {
  background-color: #e8927c;
}

/**** Panel 4 ****/
.ms-acal-color4,
.ms-acal-apanel-item.ms-acal-apanel-color4 {
  background-color: #71cc98;
}

/**** Panel 5 ****/
.ms-acal-color5,
.ms-acal-apanel-item.ms-acal-apanel-color5 {
  background-color: #89abe3;
}

/**** Panel 6 ****/
.ms-acal-color6,
.ms-acal-apanel-item.ms-acal-apanel-color6 {
  background-color: #6bbbae;
}

/**** Panel 7 ****/
.ms-acal-color6,
.ms-acal-apanel-item.ms-acal-apanel-color6 {
  background-color: #9ea700;
}



/**********************************************************
    
                  Flexbox Classes

**********************************************************/

.align-self-end {
  align-self: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}



/**********************************************************
    
                  Custom Widths

**********************************************************/

.full-width {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-70 {
  width: 70%;
}

.width-65 {
  width: 65%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-45 {
  width: 45%;
}

.width-40 {
  width: 40%;
}

.width-35 {
  width: 35%;
}

.width-30 {
  width: 30%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.width-15 {
  width: 15%;
}

.width-10 {
  width: 10%;
}



/**********************************************************
    
                  List Filter Styles

**********************************************************/

.list-filter {
  margin: 2rem 0;
}

.list-filter input[type="radio"] {
  display: none;
  margin: 0;
}

.list-filter label {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 3px;
  min-width: 5%;
  padding: 10px;
  text-align: center;
}

.list-filter label:hover {
  cursor: pointer;
  background: #cfb87c;
}

.list-filter label.active {
  background: #cfb87c
}



/**********************************************************
    
              Custom Margins and Padding

**********************************************************/

/******************** Margins ********************/

.margin-bottom-large {
  margin-bottom: 5rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-x-small {
  margin-bottom: 1rem;
}

.margin-left-small {
  margin-left: 2rem;
}

.margin-left-x-small {
  margin-left: 1rem;
}

.margin-right-small {
  margin-right: 2rem;
}

.margin-right-x-small {
  margin-right: 1rem;
}

.margin-top-large {
  margin-top: 5rem;
}

.margin-top-medium {
  margin-top: 3rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-x-small {
  margin-top: 1rem;
}

.margin-vertical-large {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.margin-vertical-medium {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.margin-vertical-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

/******************** Padding ********************/

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-bottom-large {
  margin-bottom: 5rem;
}

.padding-bottom-medium {
  margin-bottom: 3rem;
}

.padding-bottom-small {
  margin-bottom: 2rem;
}

.padding-bottom-x-small {
  margin-bottom: 1rem;
}

.padding-left-small {
  margin-left: 2rem;
}

.padding-left-x-small {
  margin-left: 1rem;
}

.padding-right-small {
  margin-right: 2rem;
}

.padding-right-x-small {
  margin-right: 1rem;
}

.padding-small {
  padding: 2rem;
}

.padding-top-large {
  margin-top: 5rem;
}

.padding-top-medium {
  margin-top: 3rem;
}

.padding-top-small {
  margin-top: 2rem;
}

.padding-top-x-small {
  margin-top: 1rem;
}

.padding-vertical-large {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.padding-vertical-medium {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.padding-vertical-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.padding-x-small {
  padding: 1rem;
}



/**********************************************************
    
                    Media Queries

**********************************************************/

/******************** Print Media Query ********************/
@media print {
  
  .print-accordion {
    display: none;
  }
  
}