* {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}

body, 
.ms-core-overlay {
  background-color: #fff;
}

h1,
.ms-core-pageTitle {
  color: #000;
  font-size: 2.77rem;
}

h1,
h1>div,
.ms-core-pageTitle, 
#DeltaPlaceHolderPageTitleInTitleArea {
  font-family: "Segoe UI Light","Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

h2, 
h3, 
.ms-h2, 
.ms-headerFont {
  font-family: MuliRegular, Helvetica, Arial, sans-serif !important;
}

h2,
h3 {
  margin-bottom: 1rem;
}

h2,
h2.ms-rteElemnet-H2,
.ms-rtestate-field h2 {
  color: #565a5c;
  font-weight: bold;
}

h3 {
  color: #531111;
  font-weight:bold;
}

h1 {
  color: #000;
  font-size: 2.77rem;
}

section {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.center {
  text-align: center;
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.gray-background {
  background: rgba(210, 210, 210, 0.4);
}

.hidden {
  display: none;
}

.print-accordion {
  background: #000;
  border: 0;
  border-radius: 4px; 
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}

.print-accordion:focus {
  outline: none;
}

.print-accordion:hover{
  cursor: pointer;
  background: #000;
  color: #cfb87c;
}

#contentBox {
  margin-left: 280px;
  max-width: 1280px;
}

#contentRow:before, #contentRow:after {
  content: "";
  display: table;
}

#contentRow:after {
  clear: both;
}
#contentRow {
  margin: 0 2rem;
  padding-top: 0;
}



/**********************************************************
    
                  Flexbox Classes

**********************************************************/

.align-self-end {
  align-self: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}



/**********************************************************
    
               Custom Navigation

**********************************************************/

/******************** Main Nav ********************/

nav {
  margin-left: 80px;
  padding: 1rem;
}

nav .ms-core-listMenu-root>li.static>ul>li {
  font-size: .9rem;
} 

#DeltaTopNavigation .dynamic-children ul.dynamic {
  border: 1px solid #ddd;
  box-shadow: none;
  width: 225px !important;
}

.ms-core-listMenu-item:hover,
.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover,
#sideNavBox a:hover {
  color: #000;
}

#DeltaTopNavigation .dynamic-children .dynamic {
  list-style-type: none;
}

#DeltaTopNavigation .dynamic-children .dynamic a {
  display: block;
  padding: .85rem;
}

#DeltaTopNavigation .dynamic-children .dynamic a:hover {
  background: #cfb87c;
}

/******************** Term Store Nav Rules ********************/

#DeltaTopNavigation ul.root {
  margin-left: 6rem;
}

/* Style rules if using structured navigation
#DeltaTopNavigation ul.root>li.static>a {
  display: none;
}

#DeltaTopNavigation ul.root>li.static>ul.static {
  margin-left: 6rem;
}
*/



/******************** Side Nav ********************/

#sideNavBox .active-menu {
  border-bottom: 2px solid rgba(210, 210, 210, 0.4);
}

#DeltaPlaceHolderLeftNavBar>div>.ms-core-listMenu-verticalBox {
  display: none;
}

#sideNavBox {
  margin-top: .85rem;
}

#sideNavBox li>a.ms-core-listMenu-item:hover,
#sideNavBox li span.ms-core-listMenu-item:hover {
  background-color: #cfb87c;
}

#sideNavBox .ms-core-listMenu-root li.static ul.static {
  display: none;
}

#sideNavBox .ms-core-listMenu-root li.static:hover {
  cursor: pointer;
}



/**********************************************************
    
               Custom SharePoint Overrides

**********************************************************/

input.ms-long {
  width: 100% !important;
}

li.static:focus,
li.static span:focus,
.menu-item:focus,
.menu-item-text:focus {
  outline: none;
}

li.ms-navedit-editArea {
  display: none !important;
}

.ms-basictable .ms-alternating{
  background-color: rgba(210, 210, 210, 0.4);
}

.ms-core-pageTitle {
  margin-bottom: 2rem;
}

.ms-formfieldlabel {
  font-size: 13px !important;
}

.ms-webpart-titleText.ms-webpart-titleText, 
.ms-webpart-titleText>a,
.ms-webpart-titleText>a span,
.ms-webpart-titleText>a:active,
.ms-webpart-titleText>a:hover {
  color: #565A5C;
  font-family: MuliRegular, Helvetica, Arial, sans-serif !important;
  text-decoration: none;
}

.no-table-head thead {
  display: none;
}

.ms-WPBorderBorderOnly {
  border: 0;
}

.tableCol-50 {
  vertical-align: top;
}

/******************** Format Text Ribbon Overrides ********************/
/* http://blog.sharepointexperience.com/2014/06/hide-from-sharepoint-ribbon/ */

#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0,
#Ribbon\.EditingTools\.CPEditTab\.Font\.Underline-Small,
#Ribbon\.EditingTools\.CPEditTab\.Font\.Strikethrough-Small,
#Ribbon\.EditingTools\.CPEditTab\.Font\.FontBackgroundColor-Small,
#Ribbon\.EditingTools\.CPEditTab\.Font\.FontColor-Small,
#Ribbon\.EditingTools\.CPEditTab\.Styles {
  display: none !important;
}

#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-1 {
  margin-top: 38px !important; 
}


/**********************************************************
    
                  Custom Widths

**********************************************************/

.full-width {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-70 {
  width: 70%;
}

.width-65 {
  width: 65%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-45 {
  width: 45%;
}

.width-40 {
  width: 40%;
}

.width-35 {
  width: 35%;
}

.width-30 {
  width: 30%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.width-15 {
  width: 15%;
}

.width-10 {
  width: 10%;
}


/**********************************************************
    
                  List Filter Styles

**********************************************************/

.list-filter {
  margin: 2rem 0;
}

.list-filter input[type="radio"] {
  display: none;
  margin: 0;
}

.list-filter label {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 3px;
  min-width: 5%;
  padding: 10px;
  text-align: center;
}

.list-filter label:hover {
  cursor: pointer;
  background: #cfb87c;
}

.list-filter label.active {
  background: #cfb87c
}





/**********************************************************
    
              Custom Margins and Padding

**********************************************************/

/******************** Margins ********************/

.margin-bottom-large {
  margin-bottom: 5rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-x-small {
  margin-bottom: 1rem;
}

.margin-left-small {
  margin-left: 2rem;
}

.margin-left-x-small {
  margin-left: 1rem;
}

.margin-right-small {
  margin-right: 2rem;
}

.margin-right-x-small {
  margin-right: 1rem;
}

.margin-top-large {
  margin-top: 5rem;
}

.margin-top-medium {
  margin-top: 3rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-x-small {
  margin-top: 1rem;
}

.margin-vertical-large {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.margin-vertical-medium {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.margin-vertical-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

/******************** Padding ********************/

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-bottom-large {
  margin-bottom: 5rem;
}

.padding-bottom-medium {
  margin-bottom: 3rem;
}

.padding-bottom-small {
  margin-bottom: 2rem;
}

.padding-bottom-x-small {
  margin-bottom: 1rem;
}

.padding-left-small {
  margin-left: 2rem;
}

.padding-left-x-small {
  margin-left: 1rem;
}

.padding-right-small {
  margin-right: 2rem;
}

.padding-right-x-small {
  margin-right: 1rem;
}

.padding-small {
  padding: 2rem;
}

.padding-top-large {
  margin-top: 5rem;
}

.padding-top-medium {
  margin-top: 3rem;
}

.padding-top-small {
  margin-top: 2rem;
}

.padding-top-x-small {
  margin-top: 1rem;
}

.padding-vertical-large {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.padding-vertical-medium {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.padding-vertical-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.padding-x-small {
  padding: 1rem;
}



/**********************************************************
    
                    Media Queries

**********************************************************/

/******************** Print Media Query ********************/
@media print {
  
  .print-accordion {
    display: none;
  }
  
}