/**************************************************************************
                  Custom Photo Gallery Styles ~jrahm
**************************************************************************/

.gallery-preview {
  height: 375px;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;
}

.gallery-thumbnails img:hover {
  cursor: pointer;
  opacity: .4;
}

.gallery-thumbnails {
  text-align: center;
}

.gallery-thumbnails img {
  height: 75px;
  margin-right: 5px;
  width: auto;
}

.gallery-thumbnails img.selected {
  opacity: .4;
}

.image-caption {
  display: block;
  margin-top: 5px;
}

.preview-wrapper {
  margin: 0 auto;
  max-height: 435px;
  width: 375px;
}

.preview-wrapper:hover {
  cursor: pointer;
}

.preview-wrapper figure {
  margin: 0;
}

.preview-wrapper figure img {
  max-height: 350px;
  width: auto;
}

.view-full-image {
  color: #565A5C;
  display: block;
  margin-top: .5rem;
  text-align: center;
}

/************* Lightbox ****************/

.lightbox {
  display: none;
  height:100%;
  left:0;
  position:absolute;
  text-align: center;
  top:0;
  width:100%;
}

.lightbox>div:before {
  content: '';
  display: inline-block;
  height: 100%;
}

.lightbox>div {
  align-items: center;
  display: flex;
  height: 800px;
  justify-content: center;
  left: 25%;
  position: fixed;
  top: 5%;
  width: 1050px;
  z-index: 10000;
}

.lightbox-close {
  color: #565A5C;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  right: -15px;
  top: -10px;
}

.lightbox-close:hover {
  cursor: pointer;
}

.lightbox-content {
  border: 20px solid #fff;
  display: inline-block;  
  height: auto;
  line-height: 0px;
  opacity: 0;
  position: relative; 
}

.lightbox-content img {
  width: 100%;
}

.lightbox-content .image-caption {
  bottom: -10px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}



/************* Gallery Controls ****************/
/* https://codepen.io/fixcl/pen/Fkcot */

.arrow::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  position: relative;
  top: -3px;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 0.45em;
}

.arrow.left:before {
  transform: rotate(-135deg);
}

.arrow.right:before {
  top: 0;
  transform: rotate(45deg);
}

.gallery-scroll {
  color: #a2a4a3;
  font-size: 1.5rem;
  padding: .75rem;
  position: absolute;
  top: 50%;
}

.gallery-scroll:hover {
  cursor: pointer;
}

.gallery-scroll.inactive {
  opacity: 0.25;
}

.gallery-scroll.inactive:hover {
  cursor: default;
}

.gallery-scroll.previous {
  left: 5%;
}

.gallery-scroll.next {
  right: 5%;
}

.lightbox .gallery-scroll {
  color: #fff;
  top: calc(50% - .75rem);
}

.lightbox .next {
  order: 3;
  right: 0;
}

.lightbox .previous {
  left: 0;
  order: 1;
}

.lightbox-content {
  order: 2;
}