.quick-links {
  display: flex;
}

.quick-links a,
.quick-links a:active,
.quick-links a:focus
.quick-links a:hover,
.quick-links a:visited {
  color: white;
  text-decoration: none;
}

.quick-link-container {
  height: 150px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 150px;
}

.quick-link-container:last-child {
  margin-right: 0;
}

.quick-link-container img {
  height: auto;
  width: 150px;
}

.quick-link-content {
  background-color: rgba(0, 0, 0, 0.75);
  height: 150px;
  position: absolute;
  top: 100px;
  width: 150px;
  z-index: 1000;
}

.quick-link-content ul {
  list-style-type: none;
  margin: 0;
  padding: 6px 10px 10px 10px;
}

.quick-link-content .quick-link-header {
  display: table-cell;
  height: 36px;
  vertical-align: bottom;
}

.quick-link-content .quick-link-blurb {
  padding-top: 15px;
}