/**********************************************************
    
                  Directory Styles

**********************************************************/

#directoryFilter label {
  font-size: 1rem;
  margin-right: 1rem;
}

#directoryFilter option:active, 
#directoryFilter option:hover {
  background-color: #cfb87c;
}

#directory>section {
  border-bottom: 1px solid #ddd;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

#directory>section:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

#directory>section>section {
  margin: 0;
  width: 65%;
}

#directory h2 {
  margin-bottom: .25rem;
}

#directory .image-container {
  margin-right: 5%;
}

#directory img {
  height: auto;
  max-width: 150px;
}

#directory .staff-contact {
  margin-right: 2%;
  width: 30%;
}

#directory .staff-contact>* {
  display: block;
}

#directory .staff-contact em {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#pageTitle {
  display: none;
}